<div class="">
  <div class="App" style="color: black">
    <div class="App-header">
      <img src="assets/sentry-glyph-black.png" class="App-logo" alt="logo" />
      <h1>Sentry.io - Sample Error Page</h1>
    </div>

    <div class="center">
      <form>
        <div class="form-group">
          <input type="text" [(ngModel)]="textValue" type="email" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Enter email">
        </div>
        <button type="submit" (click)="this.handleSubmit()" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <h2>Hi {{currentUser ? currentUser : "Guest"}}</h2>

    <ul class="center list-group" [ngStyle]="{ 'color': color }" (click)="this.changeColor()">
      <li class="list-group-item list-group-item-danger">
        <h3>ERRORS</h3>
      </li>
      <li class="list-group-item" (click)="this.notAFunctionError()">
        <h3>TypeError</h3>
        <p>obj.attributeInvalid is not a function</p>
      </li>
      <li class="list-group-item" (click)="this.uriError()">
        <h3>URIError</h3>
        <p>URI malformed
        </p>
      </li>
      <li class="list-group-item" (click)="this.syntaxError()">
        <h3>SyntaxError</h3>
        <p>Unexpected identifier</p>
      </li>
      <li class="list-group-item" (click)="this.rangeError()">
        <h3>RangeError</h3>
        <p>Parameter must be between 1 and 100</p>
      </li>
    </ul>
  </div>
</div>
